POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=litigation
GROQ_API_KEY=
GROQ_MODEL=
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin123

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/litigation"
SECRET_KEY=q3kgq347qy4o7q4goq74fgq34of7g34o

BACKEND_PORT=8000
FRONTEND_PORT=3000

NEXT_PUBLIC_API_URL=http://localhost:8000
QDRANT_API_KEY=qawsedrftgyhujiknvgfd23456789o0plkjuhytreswzs
QDRANT_COLLECTION=litigation